/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
#logo{
	width: 90px;
	height: 70px;
}

 .azul-wbs{
 	background-color: rgb(46,48,148);
 }

.icon-block {
  padding: 0 15px;
}

.esconder{
	display: none;
}
.negrito{
	font-weight: bold;
}
.distancia-superior{
	margin-top: 100px;
}
.form-cancelar{
	max-width: 300px;
	margin: 0 auto;
}